<h1>The users List :</h1> 
<section>
<div>
  <% @users.each do |user| %>
    <div class='user-contlll nbghuuainer'>
    <div class='user-info'> 
    <span><%= image_tag user.photo, :class => 'user-photo', alt: 'User photo' %></span>
      <h2><%= link_to user.name, user, :class => 'user-name' %></h2>
      <p class='user-postcounter'>Number of posts: <%= user.posts_counter.nil? ? 0 : user.posts_counter %></p>
    </div>
</div>
  <% end %>
</div>
</section>
