.user_list {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 2rem 0;
  list-style: none;
}

.user_prof {
  height: 10rem;
}

.user_prof img {
  height: 100%;
}

.user_data {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.user_data h2 {
  font-size: 1.2rem;
}

.user_data p {
  align-self: flex-end;
  padding-bottom: 1.1rem;
  font-weight: bolder;
  font-size: 0.89rem;
}
